<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><b>Hello Admin,</b></p>
    <p>
      <%= @user.firstname %> has joined Affimintus as <b></b> and account is created in MIS. <br>
    </p>
    <p>
      Email ID is <%= @user.email %><br>
    </p>
    <p>Login Details:-</p>
    <p>
      Username :         <%= @user.username %><br/>
      Your password is : <%= @user.pwd %> %>
    </p>
  </body>
</html>
