<section id="main-content">
  <section class="panel">
    <div class="col-lg-12">
   <section class="panel" style= padding-top:5px;>
    <header class="panel-heading">
      <bold>
        <h4>Change Password</h4>
      </bold>
    </header>
    <%= form_for(@user, :url => update_password_user_path(current_user,:id=>@user.id)) do |f| %>
      <div class=" col-lg-12">
        </div>
         <div class="panel-body">
           <div class="form">
             <% if @user.errors.any? %>
               <div id="error_explanation" class ="alert alert-danger">
                 <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                 </ul>
               </div>
             <%end%>
                <div class=" col-lg-3">
                </div>
                <div class="panel-body">
                  <div class="form">
                    <div class=" form col-lg-9">
                      <form class="cmxform form-horizontal tasi-form" id="commentForm" method="get" action="" autocomplete="off">
                        <div class="form-group ">
                          <label class="col-lg-3 control-label"> New Password </label>
                          <div class="col-lg-8">
                            <%= f.password_field :password, :autocomplete => "off", :style => "width: 205px;"  %><br /><br />
                          </div> 
                        </div>
                        <div class="form-group ">
                          <label class="col-lg-3 control-label"> Confirm Password </label>
                          <div class="col-lg-8">
                            <%= f.password_field :password_confirmation,:autocomplete => "off", :style => "width: 205px;" %><br /><br/>
                          </div>
                        </div>
                        
                    <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-8">
                  <button class="btn btn-shadow btn-warning" type="back">Back</button>
                  <button class="btn btn-shadow btn-danger" type="submit">Change Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      <%end%>
    </div>
  </section>
</section>
