    <br><br>
    <aside>
      <div id="sidebar"  class="nav-collapse" style="overflow: hidden;" tabindex="5000">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <li class="sub-menu">
          <li>
           <!-- ********************* if admin ****************** -->
            <% if current_user.has_role? "admin" %>
              <li>
              <% if params[:action] != "new" %>
              <% subtabs_path1 = [new_user_registration_path] %>
                <li><%= link_to '<i class="fa fa-users "></i> Create User'.html_safe, new_user_registration_path, class: "#{ is_active?(subtabs_path1)}"%></li>
              <% else %>
                <% subtabs_path2 = [users_path] %>
                <li><%= link_to '<i class="fa fa-chevron-circle-left"></i> Back'.html_safe, users_path, class: "#{ is_active?(subtabs_path2) }" %></li>
              <% end %> 
              </li>
            <%end%>
             <!-- ********************* if admin close ****************** -->

          
             </li>
             </li>
             </ul>
    </aside>

    <script type="text/javascript">
      $('li#my-acc > a').on( "click", function() {
        $('li#my-acc > a').toggleClass('active');
        $('li#my-acc').toggleClass('active');
      });
      $('li#my-proj > a').on( "click", function() {
        $('li#my-proj > a').toggleClass('active');
        $('li#my-proj').toggleClass('active');
      });
      $('li#notification > a').on( "click", function() {
        $('li#notification > a').toggleClass('active');
        $('li#notification').toggleClass('active');
      });
      $('li#notification1 > a').on( "click", function() {
        $('li#notification1 > a').toggleClass('active');
        $('li#notification1').toggleClass('active');
      });
      $('li#my-leave > a').on( "click", function() {
        $('li#my-leave > a').toggleClass('active');
        $('li#my-leave').toggleClass('active');
      });
      $('li#my-invoice > a').on( "click", function() {
        $('li#my-invoice > a').toggleClass('active');
        $('li#my-invoice').toggleClass('active');
      });
      $('li#client-details > a').on( "click", function() {
        $('li#client-details > a').toggleClass('active');
        $('li#client-details').toggleClass('active');
      });
      $('li#my-feedback > a').on( "click", function() {
        $('li#my-feedback > a').toggleClass('active');
        $('li#my-feedback').toggleClass('active');
      });
      $('li#my-attendance > a').on( "click", function() {
        $('li#my-attendance > a').toggleClass('active');
        $('li#my-attendance').toggleClass('active');
      });
      $('li#my-task > a').on( "click", function() {
        $('li#my-task > a').toggleClass('active');
        $('li#my-task').toggleClass('active');
      });
    </script>
